<launch>
    <!-- 图像获取节点 -->
    <node pkg="hm_cooperation" type="image_unit" name="image_unit" output="screen">
    </node>
    <!-- YOLO检测节点 -->
        <!-- Target YOLO -->
    <node pkg="yolo_detection" type="target_service.py" name="target_service" output="screen">
    </node>
        <!-- Object YOLO -->
    <node pkg="yolo_detection" type="object_service.py" name="object_service" output="screen">
    </node>
    <!-- Point Cloud 节点 -->
    <node pkg="yolo_detection" type="point_cloud_service.py" name="point_cloud_service" output="screen">
    </node>
    <!-- TF 节点 -->
    <node pkg="tf_tools" type="tf_translate_service.py" name="tf_translate_service" output="screen">
    </node>

</launch>